header {
  width: 100%;
  height: 80px;
  border: 4px solid darkblue;
  border-radius: 10px;
  .container {
    height: 100%;
    .header-left, .header-right {
      float: left;
      height: 100%;
    }
    .header-left{
      img {
        height: 50px;
        margin: 10px auto;
      }
    }
    .header-right{
      float: right;
      line-height: 70px;
      ul {
        list-style: none;
        text-align: right;
        li {
          display: inline-block;
          margin-left: 40px;
          a{
            color: darkblue;
          }
        }

      }
    }
  }
}
